<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="feature-title">
        <h6>{{ customModel.isAmend ? "Edit Branch" : "Add Branch" }}</h6>
      </div>

      <hr class="under-header" />
      <div class="utility-box">
        <app-reset class="utility" (click)="customModel.reset(customModel.editMode, getBranchId())"></app-reset>
        <app-validation-reset
          class="utility"
          (click)="customModel.validationReset()"
        ></app-validation-reset>
        <app-content-help class="utility"></app-content-help>
        <app-back class="utility" [url]="'settings/branch'"></app-back>
      </div>
      <hr class="custom-hr" />

      <form #addForm="ngForm" autocomplete="off">
        <div class="row">
          <div class="custom-group">
            <p class="custom-group-title">General Info</p>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="branchName"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.branchName"
              />
              <label for="branchName">Branch Name</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.BranchName"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="branchCode"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.branchCode"
              />
              <label for="branchCode">Branch Code</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.BranchCode"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <app-company-dropdown
                [companies]="[
                  {
                    companyName: customModel.model.companyName,
                    companyId: customModel.model.companyId
                  }
                ]"
                [selectedCompany]="
                  customModel.editMode
                    ? {
                        companyName: customModel.model.companyName,
                        companyId: customModel.model.companyId
                      }
                    : undefined
                "
                (changeCompany)="customModel.changeDropdown($event)"
              >
              </app-company-dropdown>
              <label
                for="company"
                *ngIf="
                  customModel.model.companyId == 0 ||
                  customModel.model.companyId == null
                "
                >Select Company
              </label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.CompanyId"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <app-branch-type-dropdown
                [branchTypes]="[
                  {
                    branchType: customModel.model.branchType
                  }
                ]"
                [selectedBranchType]="
                  customModel.editMode
                    ? {
                        branchType: customModel.model.branchType
                      }
                    : undefined
                "
                (changeBranchType)="customModel.changeDropdown($event)"
              >
              </app-branch-type-dropdown>
              <label for="country" *ngIf="customModel.model.branchType == null"
                >Select Branch type
              </label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.BranchType"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <app-countryDropdown
                [countries]="[
                  {
                    countryName: customModel.model.countryName,
                    countryId: customModel.model.countryId
                  }
                ]"
                [selectedCountry]="
                  customModel.editMode
                    ? {
                        countryName: customModel.model.countryName,
                        countryId: customModel.model.countryId
                      }
                    : undefined
                "
                (changeCountry)="customModel.changeCountry($event)"
              >
              </app-countryDropdown>
              <label
                for="country"
                *ngIf="
                  customModel.model.countryId == 0 ||
                  customModel.model.countryId == null
                "
                >Select Country
              </label>
            </span>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <app-cityDropdown
                [cities]="[
                  {
                    cityName: customModel.model.cityName,
                    cityId: customModel.model.cityId
                  }
                ]"
                [countryId]="customModel.model.countryId"
                [load]="customModel.cascadeCityModel.load"
                [disabledCity]="customModel.cascadeCityModel.disabledCity"
                [selectedCity]="
                  customModel.editMode
                    ? {
                        cityName: customModel.model.cityName,
                        cityId: customModel.model.cityId
                      }
                    : undefined
                "
                (changeCity)="customModel.changeDropdown($event)"
              >
              </app-cityDropdown>

              <label
                for="city"
                *ngIf="
                  customModel.model.cityId == 0 ||
                  customModel.model.cityId == null
                "
                >Select City</label
              >
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.CityId"
            ></app-error-validation>
          </div>
          <div class="custom-group-clear"></div>

          <div class="custom-group">
            <p class="custom-group-title">Contact Info</p>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="mobile"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.mobile"
              />
              <label for="mobile">Mobile No.</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.Mobile"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="phone"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.phone"
              />
              <label for="phone">Phone No.</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.Phone"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="email"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.email"
              />
              <label for="email">Email</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.Email"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="web"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.web"
              />
              <label for="web">Website</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.Web"
            ></app-error-validation>
          </div>
          <div class="custom-group-clear"></div>

          <div class="custom-group">
            <p class="custom-group-title">Address & Misc</p>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <textarea
                pInputText
                [rows]="1"
                [cols]="30"
                name="address"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.address"
              >
              </textarea>
              <label for="address">Address</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.Address"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <input
                type="text"
                pInputText
                name="zipCode"
                [class]="designModel.inputClass"
                [(ngModel)]="customModel.model.zipCode"
              />
              <label for="zipCode">Zip Code</label>
            </span>
            <app-error-validation
              [hasValidation]="customModel.hasValidation"
              [validationModel]="customModel.validationModel.ZipCode"
            ></app-error-validation>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <app-employee-dropdown
                [employees]="[
                  {
                    employeeName: customModel.model.branchInchargeName,
                    employeeId: customModel.model.branchInchargeId
                  }
                ]"
                [selectedEmployee]="
                  customModel.editMode
                    ? {
                        employeeName: customModel.model.branchInchargeName,
                        employeeId: customModel.model.branchInchargeId
                      }
                    : undefined
                "
                (changeEmployee)="
                  changeEmployeeDropdown($event, 'branchIncharge')
                "
              >
              </app-employee-dropdown>
              <label
                for="employee"
                *ngIf="
                  customModel.model.branchInchargeId == 0 ||
                  customModel.model.branchInchargeId == null
                "
                >Select Branch Incharge
              </label>
            </span>
          </div>

          <div [class]="designModel.responsiveClass">
            <span class="p-float-label">
              <app-employee-dropdown
                [employees]="[
                  {
                    employeeName: customModel.model.branchAttentionPersonName,
                    employeeId: customModel.model.branchAttentionPersonId
                  }
                ]"
                [selectedEmployee]="
                  customModel.editMode
                    ? {
                        employeeName:
                          customModel.model.branchAttentionPersonName,
                        employeeId: customModel.model.branchAttentionPersonId
                      }
                    : undefined
                "
                (changeEmployee)="
                  changeEmployeeDropdown($event, 'attentionPerson')
                "
              >
              </app-employee-dropdown>
              <label
                for="employee"
                *ngIf="
                  customModel.model.branchAttentionPersonId == 0 ||
                  customModel.model.branchAttentionPersonId == null
                "
                >Select Attention Person
              </label>
            </span>
          </div>

          <div [class]="designModel.responsiveClass">
            <div class="row">
              <div class="col-6">
                <label class="switch-label">Is Active</label>
              </div>
              <div class="col-2">
                <p-inputSwitch
                  name="isActive"
                  [(ngModel)]="customModel.model.isActive"
                ></p-inputSwitch>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
            <div class="d-grid">
              <button
                *ngIf="!customModel.isAmend"
                pButton
                pRipple
                label="Submit"
                class="p-button"
                [disabled]="customModel.disabled"
                (click)="addBranch()"
              ></button>
              <!-- <button (click)="rollback()">Rollback</button>  -->
            </div>

            <div class="d-grid">
              <button
                *ngIf="customModel.isAmend"
                pButton
                pRipple
                label="Edit"
                class="p-button"
                [disabled]="customModel.disabled"
                (click)="editBranch()"
              ></button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<app-default-toast></app-default-toast>
