<div class="card">
    <div class="card-header .custom-card-header-font">NMS Change</div>
    <div class="card-body">
        <div class="col-12 custom-password-change">
            <span class="p-float-label">
              <input
                type="password"
                pInputText
                class="form-control form-control-sm"
                id="current-password"
                name="currentPassword"
                
              />
              <label for="currentPassword">Email</label>
            </span>
          </div>
    </div> 
</div>
