#header {
  font-weight: bold;
}

#content {
  display: inline;
}

#content-icon {
  font-size: 25px;
  font-weight: bold;
  color: #34495e;
}

#content-details {
  font-size: 22px;
  font-weight: bold;
  display: inline;
  margin-left: -13px;
}

.dialog-button {
  width: 45px;
  height: 45px;
}
