<form autocomplete="off">
  <div class="row">
    <div class="custom-group">
      <p class="custom-group-title">General Info</p>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="companyName">Company</label>
      <span class="p-float-label">
        <app-company-dropdown
                [companies]="[
                  {
                    companyName: customModel.model.companyName,
                    companyId: customModel.model.companyId
                  }
                ]"
                [selectedCompany]="
                  customModel.editMode
                    ? {
                        companyName: customModel.model.companyName,
                        companyId: customModel.model.companyId
                      }
                    : undefined
                "
                (changeCompany)="customModel.changeDropdown($event)"
              >
              </app-company-dropdown>    
      </span>
    </div>
    <div [class]="'col-xl-3 col-lg-6 col-md-12 col-sm-12 col-xs-12'">
      <label for="branchName">Banch</label>
      <span class="p-float-label">
        
        
      </span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <div class="d-grid">
        <button pButton pRipple label="Submit" class="p-button"></button>
        <!-- <button (click)="rollback()">Rollback</button>  -->
      </div>
    </div>
  </div>
</form>
