<form autocomplete="off">
  <div class="row">
    <div class="custom-group">
      <p class="custom-group-title">General Info</p>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="companyName">Company</label>
        <app-company-dropdown
          [companies]="[
            {
              companyName: customModel.model.companyName,
              companyId: customModel.model.companyId
            }
          ]"
          [selectedCompany]="
            customModel.editMode
              ? {
                  companyName: customModel.model.companyName,
                  companyId: customModel.model.companyId
                }
              : undefined
          "
          (changeCompany)="customModel.changeDropdown($event)"
          (onBlur)="
            customModel.removeValidationMsg(
              $event,
              'CompanyId',
              true,
              'companyId'
            )
          "
          [readonly]="true"
        >
        </app-company-dropdown>
        <app-error-validation
          [hasValidation]="customModel.hasValidation"
          [validationModel]="customModel.validationModel.CompanyId"
        ></app-error-validation>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="branchName">Banch</label>
        <app-branch-dropdown
          [branches]="[
            {
              branchName: customModel.model.branchName,
              branchId: customModel.model.branchId
            }
          ]"
          [selectedBranch]="
            customModel.editMode
              ? {
                  branchName: customModel.model.branchName,
                  branchId: customModel.model.branchId
                }
              : undefined
          "
          (changeBranch)="customModel.changeDropdown($event)"
          (onBlur)="
            customModel.removeValidationMsg(
              $event,
              'BranchId',
              true,
              'branchId'
            )
          "
        >
        </app-branch-dropdown>
        <app-error-validation
          [hasValidation]="customModel.hasValidation"
          [validationModel]="customModel.validationModel.BranchId"
        ></app-error-validation>

    </div>
    <div [class]="designModel.responsiveClass">
      <label for="departmentName">Department</label>
        <app-department-dropdown
          [departments]="[
            {
              departmentName: customModel.model.departmentName,
              departmentId: customModel.model.departmentId
            }
          ]"
          [selectedDepartment]="
            customModel.editMode
              ? {
                  departmentName: customModel.model.departmentName,
                  departmentId: customModel.model.departmentId
                }
              : undefined
          "
          (changeDepartment)="customModel.changeDropdown($event)"
          (onBlur)="
            customModel.removeValidationMsg(
              $event,
              'DepartmentId',
              true,
              'departmentId'
            )
          "
          
        >
        </app-department-dropdown>
        <app-error-validation
          [hasValidation]="customModel.hasValidation"
          [validationModel]="customModel.validationModel.DepartmentId"
        ></app-error-validation>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="designationName">Designation</label>
        <app-designation-dropdown
          [designations]="[
            {
              designationName: customModel.model.designationName,
              designationId: customModel.model.designationId
            }
          ]"
          [selectedDesignation]="
            customModel.editMode
              ? {
                  designationName: customModel.model.designationName,
                  designationId: customModel.model.designationId
                }
              : undefined
          "
          (changeDesignation)="customModel.changeDropdown($event)"
          (onBlur)="
            customModel.removeValidationMsg(
              $event,
              'DesignationId',
              true,
              'designationId'
            )
          "
        >
        </app-designation-dropdown>
        <app-error-validation
          [hasValidation]="customModel.hasValidation"
          [validationModel]="customModel.validationModel.DesignationId"
        ></app-error-validation>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="supervisor">Supervisor</label>
        <app-employee-dropdown
          [employees]="[
            {
              employeeName: customModel.model.supervisorName,
              employeeId: customModel.model.supervisorId
            }
          ]"
          [selectedEmployee]="
            customModel.editMode
              ? {
                  employeeName: customModel.model.supervisorName,
                  employeeId: customModel.model.supervisorId
                }
              : undefined
          "
          (changeEmployee)="
            customModel.changeDropdown($event, 'supervisorId', 'supervisorName')
          "
          [applyDefaultText]="true"
        >
        </app-employee-dropdown>
    </div>

    <div class="custom-group-clear"></div>
    <div class="custom-group">
      <p class="custom-group-title">Other</p>
    </div>

    <div [class]="designModel.responsiveClass">
      <label>Staff Grade</label>
        <p-dropdown
          [options]="employeeModel.staffGrade"
          [(ngModel)]="customModel.model.staffGrade"
          optionLabel="staffGrade"
          optionValue="staffGrade"
          [name]="'staffGrade'"
          placeholder="Select staff grade"
          [showClear]="true"
        ></p-dropdown>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="confirmationDate">Confirmation Date</label>
        <p-calendar
          [(ngModel)]="customModel.model.confirmationDate"
          name="'confirmationDate'"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [maxDate]="dateTimeService.today"
          (onSelect)="
            customModel.removeValidationMsg($event, 'ConfirmationDate')
          "
        ></p-calendar>
      <app-error-validation
        [hasValidation]="customModel.hasValidation"
        [validationModel]="customModel.validationModel.ConfirmationDate"
      ></app-error-validation>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="joiningDate">Joining Date</label>
        <p-calendar
          [(ngModel)]="customModel.model.joiningDate"
          name="'joiningDate'"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [maxDate]="dateTimeService.today"
          (onSelect)="customModel.removeValidationMsg($event, 'JoiningDate')"
        ></p-calendar>

      <app-error-validation
        [hasValidation]="customModel.hasValidation"
        [validationModel]="customModel.validationModel.JoiningDate"
      ></app-error-validation>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="reportingMethod">Reporting Method</label>
        <p-dropdown
          [options]="employeeModel.reportingMethod"
          [(ngModel)]="customModel.model.reportingMethod"
          optionLabel="reportingMethod"
          optionValue="reportingMethod"
          [name]="'reportingMethod'"
          placeholder="Select reporting method"
          [showClear]="true"
        ></p-dropdown>
    </div>
  </div>
  <hr class="custom-hr" />
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <div class="d-grid">
        <button
          pButton
          pRipple
          label="Submit"
          class="p-button"
          (click)="isUpdate ? updateJobDetails() : addJobDetails()"
          [disabled]="customModel.disabled"
        ></button>
        <button (click)="getEmployeeJobDetails()" [hidden]="true" id="getEmployeeJobDetails"></button>
      </div>
    </div>
  </div>
  <hr />
  <app-utility-box></app-utility-box>
</form>
