
.validation {
    margin-top:1px;
    margin-left:1px;
   // margin-bottom: 20px;
    color:#d1301d;
    font-weight: bold;
    font-size: 14px;
}
.validation-star {
    margin-right: 4px;
    font-size: 12px;
    font-weight: bolder;
}