<div class="row" style="margin-top: 10px">
  <div
    [id]="'file_' + file.id"
    class="col-xxl-3 col-xl-3 col-lg-3 col-md-6 col-xs-12 col-sm-12 file-container"
    *ngFor="let file of files; let i = index"
    [attr.data-fileid]="file.id"
  >
    <div
      class="thumbnail custom-image-thumbnail"
      *ngIf="file.fileType == 'image'"
    >
      <div class="close">
        <button pRipple (click)="showDialog(file.id)">X</button>
      </div>

      <img
        [src]="
          url +
          file.filePath +
          '/' +
          file.fileName +
          '?' +
          azureBlobContainerToken
        "
        [alt]="file.fileName"
        class="mx-auto d-block custom-image"
      />

      <div class="caption custom-image-caption">
        <p>{{ file.fileName }} ({{ file.fileSize }} {{ file.fileUnit }})</p>
      </div>
    </div>

    <div
      class="thumbnail custom-image-thumbnail doc-thumbnail"
      *ngIf="file.fileType == 'file'"
    >
      <div class="close">
        <button pRipple (click)="showDialog(file.id)">X</button>
      </div>
      <a
        [href]="
          url +
          file.filePath +
          '/' +
          file.fileName +
          '?' +
          azureBlobContainerToken
        "
        target="_blank"
      >
        <img
          [src]="
            file.fileType == 'pdf'
              ? '../../../assets/images/pdf-icon-2.png'
              : '../../../assets/images/doc-icon-3.png'
          "
          [alt]="file.name"
          class="mx-auto d-block custom-image doc-image"
        />

        <div class="caption custom-image-caption">
          <p>{{ file.fileName }} ({{ file.fileSize }} {{ file.fileUnit }})</p>
        </div>
      </a>
    </div>
  </div>
</div>

<app-confirmation-dialog
  [display]="display"
  [contentDetails]="'Are You Sure To Delete ?'"
  (hideDialog)="hideDialog()"
  (accept)="removeFile()"
>
</app-confirmation-dialog>
