<div class="container">
  <div class="row">
    <div class="col-xxl-3 col-xl-3 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <div class="feature-title">
            <h6>Set Department</h6>
          </div>
          <hr style="margin-top: 2px" />
          <div class="utility-box" style="margin-top: -11px">
            <app-reset class="utility" (click)="reset()"></app-reset>
          </div>
          <hr class="custom-hr" />
          <form #addForm="ngForm" autocomplete="off">
            <div class="col-12 mb-3">
              <span class="p-float-label">
                <input
                  type="text"
                  pInputText
                  class="form-control form-control-sm"
                  name="departmentName"
                  [(ngModel)]="customModel.model.departmentName"
                />
                <label for="departmentName">Name</label>
              </span>
            </div>
            <div class="col-12 mb-3">
              <span class="p-float-label">
                <input
                  type="text"
                  pInputText
                  class="form-control form-control-sm"
                  name="abbreviation"
                  [(ngModel)]="customModel.model.abbreviation"
                />
                <label for="abbreviation">Abbreviation</label>
              </span>
            </div>
            <div class="col-12 mb-3">
              <span class="p-float-label">
                <input
                  type="text"
                  pInputText
                  class="form-control form-control-sm"
                  name="departmentCode"
                  [(ngModel)]="customModel.model.departmentCode"
                />
                <label for="departmentCode">Code</label>
              </span>
            </div>

            <div class="col-12 mb-3">
                <app-employee-dropdown
                  [employees]="[
                    {
                      employeeName: customModel.model.departmentHeadName,
                      employeeId: customModel.model.departmentHeadId
                    }
                  ]"
                  [selectedEmployee]="
                    customModel.editMode
                      ? {
                          employeeName: customModel.model.departmentHeadName,
                          employeeId: customModel.model.departmentHeadId
                        }
                      : undefined
                  "
                  [placeholder]="'Dept Head.'"
                  (changeEmployee)="changeDropdown($event)"
                >
                </app-employee-dropdown>
                
            </div>
            <div class="col-12 mb-3">
              <span class="p-float-label">
                <textarea
                  pInputTextarea
                  [rows]="1"
                  [cols]="28"
                  name="address"
                  class="custom-textarea"
                  [(ngModel)]="customModel.model.departmentAddress"
                >
                </textarea>
                <label for="address">Address</label>
              </span>
            </div>

            <div class="col-12 mb-3" *ngIf="customModel.isRemoved == false">
              <button
                pButton
                pRipple
                [label]="customModel.editMode ? 'Edit' : 'Add'"
                class="p-button"
                style="width: 100%"
                [disabled]="customModel.disabled"
                (click)="customModel.editMode ? updateDepartment() : addDepartment()"
              ></button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xxl-9 col-xl-9 col-md-12 col-sm-12 col-xs-12">
      <div *ngIf="showGrid">
        <app-default-grid
          gridHeight="455px"
          [cols]="customModel.cols"
          [data]="customModel.data"
          [actionStyle]="{ 'margin-left': '10px' }"
          [hasGridDeleteButton]="false"
          [isShrinkGridData]="true"
          [hasBtnPull]="true"
          [hasGridViewButton]="true"
          [gridLoad]="customModel.gridLoad"
          (modifyEvent)="viewData($event, 'edit')"
          (viewEvent)="viewData($event, 'view')"
          (pullDataEvent)="pullData()"
        >
        </app-default-grid>
      </div>
    </div>
  </div>
</div>
<app-default-toast></app-default-toast>
