<div class="container">
  <div class="card">
    <div class="card-body">

      <div class="feature-title">
        <h6>Set Designaation</h6>
      </div>
      <hr class="under-header" />
      <form #addForm="ngForm" autocomplete="off">
        <div class="row">
          <div
            class="col-xxl-10 col-xl-10 col-lg-9 col-md-12 col-sm-12 col-xs-12"
          >
            <div class="row">
              <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <span class="p-float-label">
                  <input
                    type="text"
                    pInputText
                    class="form-control form-control-sm"
                    name="designationName"
                    [(ngModel)]="customModel.model.designationName"
                  />
                  <label for="designationName">Designation</label>
                </span>
              </div>
              <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                <span class="p-float-label">
                  <input
                    type="text"
                    pInputText
                    class="form-control form-control-sm"
                    name="abbreviation"
                    [(ngModel)]="customModel.model.abbreviation"
                  />
                  <label for="abbreviation">Abbreviation</label>
                </span>
              </div>
              <div class="col-xl-3 col-lg-5 col-md-6 col-sm-6 col-xs-12">
                  <app-department-dropdown
                    (changeDepartment)="changeDropdown($event)"
                    [departments]="[
                      {
                        departmentId: customModel.model.departmentId,
                        departmentName: customModel.model.departmentName
                      }
                    ]"
                    [selectedDepartment]="
                    customModel.editMode
                        ? {
                            departmentId: customModel.model.departmentId,
                            departmentName: customModel.model.departmentName
                          }
                        : undefined
                    "
                  >
                  </app-department-dropdown>               
              </div>
              <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-xs-12 mt-1">
                <div class="d-grid gap-2">
                  <button
                    pButton
                    pRipple
                    [label]="customModel.editMode?'Edit':'Add'"
                    class="p-button"
                    (click)="customModel.editMode?updateDesignation():addDesignation()"
                    [disabled]="customModel.disabled"
                  ></button>
                </div>
              </div>
            </div>
          </div>

          <div
            class="col-xxl-2 col-xl-2 col-lg-3 col-md-12 col-sm-12 col-xs-12"
          >
            <div class="utilityBtn">
              <span>
                <app-reset (click)="customModel.resetAll()"></app-reset>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row mt-2" *ngIf="showGrid">
    <app-default-grid     
      [cols]="customModel.cols"
      [data]="customModel.data"
      [hasGridDeleteButton]="false"
      [modifyButtonClass]="'p-button-primary p-button-rounded'"
      [actionStyle]="{'margin-left': '20px' }"
      [hasBtnPull]="true"
      [isShrinkGridData]="true"
      [gridLoad]="customModel.gridLoad"
      (modifyEvent)="customModel.viewData($event)" 
      (pullDataEvent)="getAllDesignation()"
      
    >
    </app-default-grid>
  </div>
</div>
<app-default-toast></app-default-toast>