<form autocomplete="off" enctype="multipart/form-data">
  <div class="custom-group" style="margin-top: 8px">
    <p class="custom-group-title">Generl Info</p>
  </div>
  <div class="row">
    <div [class]="designModel.responsiveClass">
      <label for="documentName">Document Name</label>
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          name="fileName"
          [class]="'form-control form-control-sm'"
          [(ngModel)]="customModel.model.documentName"
        />
      </span>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="description">Description</label>
      <span class="p-float-label">
        <textarea
          pInputText
          [rows]="1"
          [cols]="30"
          name="address"
          [class]="designModel.inputClass"
          [(ngModel)]="customModel.model.description"
        >
        </textarea>
      </span>
    </div>

    <div class="custom-group" style="margin-top: 10px">
      <p class="custom-group-title">Document Upload</p>
    </div>

    <div [class]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'">
      <!-- <label for="phoneNo">User Primary Photo</label> -->

      <span class="p-float-label">
        <app-file-upload
          
          [fileLimit]="5"
          [accept]="'image/*, .pdf'"
          (uploadFile)="customModel.onFileUpload($event)"
          (clearAllFile)="customModel.clearAllFiles()"
        >
        </app-file-upload>
      </span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <div class="d-grid">
        <button
          pButton
          pRipple
          label="Submit"
          class="p-button"
          (click)="addDocumentInfo()"
        ></button>
      </div>
    </div>
  </div>
  <hr />
  <app-utility-box></app-utility-box>
</form>
