<form autocomplete="off" enctype="multipart/form-data">
  <div class="custom-group" style="margin-top: 8px">
    <p class="custom-group-title">Generl Info</p>
  </div>
  <div class="row">
    <div [class]="designModel.responsiveClass">
      <label for="documentName">Document Name</label>
      <span class="p-float-label">
        <input
          type="text"
          pInputText
          name="documentName"
          [class]="'form-control form-control-sm'"
          [(ngModel)]="customModel.model.documentName"
          (blur)="customModel.removeValidationMsg($event, 'DocumentName')"
        />
      </span>
      <app-error-validation
        [hasValidation]="customModel.hasValidation"
        [validationModel]="customModel.validationModel.DocumentName"
      ></app-error-validation>
    </div>
    <div [class]="designModel.responsiveClass">
      <label for="description">Description</label>
      <span class="p-float-label">
        <textarea
          pInputText
          [rows]="1"
          [cols]="30"
          name="address"
          [class]="designModel.inputClass"
          [(ngModel)]="customModel.model.description"
          (blur)="customModel.removeValidationMsg($event, 'Description')"
        >
        </textarea>
      </span>
      <app-error-validation
        [hasValidation]="customModel.hasValidation"
        [validationModel]="customModel.validationModel.Description"
      ></app-error-validation>
    </div>

    <div [class]="designModel.responsiveClass" *ngIf="isGeneralInfoButton">
      <label></label>
      <span class="p-float-label">
        <div style="display: inline">
          <button
            icon="pi pi-info"
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-help"
            pTooltip="Update Generel info"
            tooltipPosition="bottom"
            style="border: 2px solid"
            (click)="updateDocumentMasterData()"
          ></button>
        </div>
        <div *ngIf="this.isFileAvailable" style="display: inline; margin-left: 10px;">
          <button
            icon="pi pi-file"
            pButton
            pRipple
            type="button"
            class="p-button-rounded p-button-info"
            pTooltip="Show File"
            tooltipPosition="bottom"
            style="border: 2px solid"
            (click)="showFile()"
          ></button>
        </div>
      </span>
    </div>

    <div class="custom-group" style="margin-top: 10px">
      <p class="custom-group-title">Document Upload</p>
    </div>
    <div [class]="'col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12'">
      <app-error-validation
        *ngIf="customModel.files == undefined || customModel.files.length == 0"
        [hasValidation]="customModel.hasValidation"
        [validationModel]="customModel.validationModel.Files"
      ></app-error-validation>
      <span class="p-float-label">
        <app-file-upload
          [fileLimit]="5"
          [accept]="'image/*, .pdf'"
          (uploadFile)="customModel.onFileUpload($event)"
          (clearAllFile)="customModel.clearAllFiles()"
        >
        </app-file-upload>
      </span>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12 col-xs-12">
      <div class="d-grid">
        <button
          pButton
          pRipple
          label="Submit"
          class="p-button"
          (click)="addDocumentInfo()"
          [disabled]="customModel.disabled"
        ></button>
        <button
          (click)="getDocumentInfo()"
          [hidden]="true"
          id="getDocumentInfo"
        >
          Setup
        </button>
      </div>
    </div>
  </div>
  <hr />
  <app-utility-box
    [url]="'employee/employee-list'"
  >

  </app-utility-box>
</form>

<app-dialog-modal
  [display]="customModel.displayModal"
  [header]="'User Documents'"
  [style]="{ width: '60%' }"
  (hideModal)="customModel.hideModal()"
>
  <app-file-view
    *ngIf="customModel.displayModal"
    [files]="files"
    [directory]="'employeedoc'"
    [subdirectory]="'emp_' + this.customModel.model.employeeId"
    (deleteFile)="deleteFile($event)"
  >
  </app-file-view>
</app-dialog-modal>
