<div class="card">
    <div class="card-header .custom-card-header-font">Change Password</div>
    <div class="card-body">
        <form
            #changePasswordForm="ngForm"
            autocomplete="off"
            ngNativeValidate
            (ngSubmit)="changePassword()"
        >
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <label
                    for="current-password"
                    class="form-label custom-label-color"
                >
                    Current Password
                </label>
                <input
                    type="password"
                    class="form-control form-control-sm"
                    id="current-password"
                    name="currentPassword"
                    [(ngModel)]="model.currentPassword"
                >
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2">
                <label
                    for="current-password"
                    class="form-label custom-label-color"
                >
                    New Password
                </label>
                <input
                    type="password"
                    class="form-control form-control-sm"
                    id="new-password"
                    name="newPassword"
                    [(ngModel)]="model.newPassword"
                >
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2">
                <label
                    for="current-password"
                    class="form-label custom-label-color"
                >
                    Confirm Password
                </label>
                <input
                    type="password"
                    class="form-control form-control-sm"
                    id="confirm-password"
                    name="confirmPassword"
                    [(ngModel)]="model.confirmPassword"
                >
            </div>

            <div class="mt-3">
                <button
                    type="submit"
                    class="btn btn-outline-primary"
                >
                    Save Change
                </button>
            </div>
        </form>
    </div>
</div>
