<div class="card">
  <div class="card-header .custom-card-header-font">Change Password</div>
  <div class="card-body">
    <form
      #changePasswordForm="ngForm"
      autocomplete="off"
      ngNativeValidate
      (ngSubmit)="changePassword()"
    >
      <div class="row">
        <div class="col-12 custom-password-change">
          <span class="p-float-label">
            <input
              type="password"
              class="form-control form-control-sm"
              pInputText
              id="current-password"
              name="currentPassword"
              [(ngModel)]="model.currentPassword"
            />
            <label for="currentPassword">Password</label>
          </span>
        </div>

        <div class="col-12 custom-password-change">
          <span class="p-float-label">
            <input
              type="password"
              class="form-control form-control-sm"
              pInputText
              id="new-password"
              name="newPassword"
              [(ngModel)]="model.newPassword"
            />
            <label for="current-password"> New Password </label>
          </span>
        </div>

        <div class="col-12">
          <span class="p-float-label">
            <input
              type="password"
              class="form-control form-control-sm"
              id="confirm-password"
              pInputText
              name="confirmPassword"
              [(ngModel)]="model.confirmPassword"
            />
            <label for="current-password"> Confirm Password </label>
          </span>
        </div>
      </div>
      <div class="mt-3">
        <button
          type="submit"
          pButton
          pRipple
          class="p-button-primary"
          label="Save Changes"
          [disabled]="disabled"
        ></button>
      </div>
    </form>
  </div>
</div>
