<div class="col-12">
  <div class="card quarter-card quarter-card-height">
    <div class="card-body">
      <div class="feature-title">
        <h6>Change Email</h6>
      </div>
      <hr class="under-header" />
      <div class="quarter-card-input">
        <span class="p-float-label">
          <input
            pInputText
            type="password"
            name="currentPassword"
            [class]="inputClass"
            [(ngModel)]="model.currentPassword"
          />
          <label for="currentPassword">Current Password</label>
        </span>
      </div>
      <div class="quarter-card-input">
        <span class="p-float-label">
          <input
            type="password"
            pInputText
            name="newPassword"
            [class]="inputClass"
            [(ngModel)]="model.newPassword"
          />
          <label for="newPassword">New Password</label>
        </span>
      </div>

      <div class="quarter-card-input">
        <span class="p-float-label">
          <input
            type="password"
            pInputText
            name="confirmPassword"
            [class]="inputClass"
            [(ngModel)]="model.confirmPassword"
          />
          <label for="confirmPassword">Confirm Password</label>
        </span>
      </div>
      <div>
        <button
          pButton
          pRipple
          type="button"
          label="Save Changes"
          class="p-button p-button-primary"
          [loading]="loading"
          (click)="changePassword()"
        ></button>
      </div>
    </div>
  </div>
</div>
