// Here you can add other styles
body {
  font-family: "Roboto";
}

.custom-toast {
  font-weight: bold;
  font-family: Roboto;
  font-style: italic;
}

.custom-font {
  font-family: Roboto;
}

.card-header {
  font-weight: bold;
}

.custom-label-color {
  color: #636f83;
}

.custom-card-header-font {
  font-size: 15px;
}

.custom-card-header,
.custom-card-footer {
  background: rgba(234, 239, 240, 0.957);
}

.utilityBtn {
  text-align: right;
}

.btn-full-width {
  width: 100%;
}

.custom-text-right {
  text-align: right;
}

.p-dropdown {
  width: 100%;
}

.modal-content {
  border-radius: 6px;
}

.feature-title > h6 {
  font-size: 18px;
}

label {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-family: "Roboto";
}

.p-dropdown .p-dropdown-label.p-placeholder {
  color: rgb(0 0 0 / 37%) !important;
}

.p-dropdown-label {
  font-weight: 500;
  font-family: "Roboto";
}

.dropdown-selected-item {
  color: gray;
  color: #000000;
  font-weight: normal;
  //font-size: 17px;
}

.under-header {
  margin-top: 5px;
  margin-bottom: 10px;
}

.p-inputtext {
  margin-bottom: 5px;
}

input[type="text"] {
  color: #000000;
  //font-size: 17px;
}

.input-total-width {
  width: 100%;
}

p-inputnumber,
.p-inputnumber {
  width: 100%;
}

.input-margin-bottom {
  margin-bottom: 20px;
}

.custom-group {
  font-weight: bold;
  margin-top: -6px;
}

.custom-group-title {
  font-size: 18px;
  margin-bottom: 4px;
}

.custom-group-clear {
  margin-bottom: 10px;
}

.utility-box {
  text-align: right;
}

.p-accordion-header-text {
  font-weight: bolder;
  font-size: 18px;
}

.quarter-card-height {
  min-height: 300px;
}

.quarter-card-input {
  margin-bottom: 10px;
}

.quarter-card {
  margin-top: 5px;
}

.setting-menubar-bakground {
  background: #fff;
}

.p-menuitem-text {
  font-weight: bolder;
}

.utility {
  margin-left: 5px;
}

.custom-hr {
  margin-top: 5px;
}

.utility-box {
  margin-right: 5px;
}

.grid-btn-utility {
  display: inline;
  margin-right: 5px;
}

.custom-input-height {
  height: 40px;
}

.custom-textarea {
  width: 100%;
}

:host ::ng-deep .custom-dd .p-dropdownd {
  height: 40px;
}

.tabview-paragraph {
  margin-top: 10px;
}

.p-calendar,
.p-password,
.p-password-input {
  width: 100%;
}
.p-dropdown-label {
  color: rgba(0, 0, 0, 0.43);
}

label {
  color: rgba(0, 0, 0, 0.6);
}

.custom-btn-inline {
  margin-top: 25px;
}

.utility-btn-inline {
  text-align: right;
  margin-top: 21px;
}

.custom-checkbox {
  width: 1.5em;
  height: 1.5em;
}

.custom-checkbox-label {
  margin-top: 5px;
  margin-left:10px;
}
.checkbox-hover:hover {
  cursor: pointer;
}

@media screen and (max-width: 992px) {
  .utilityBtn {
    margin-top: 11px;
  }
  .custom-btn-inline {
    margin-top: 8px;
  }

  .utility-btn-inline {
    text-align: right;

    margin-top: 8px;
  }

  .hidden-button {
    display: none;
  }
}
