// Here you can add other styles
.custom-toast {
    font-weight: bold;
    font-family: Roboto;
    font-style: italic;
}

.custom-font {
    font-family: Roboto;
}

.card-header{
    font-weight: bold;
}

.custom-label-color{
    color:#636f83;
}

.custom-card-header-font{
    font-size: 15px;
}