.remove-mapping-btn {
    margin-left: 10px;
    border-radius: 20px;
    height: 25px;
    width: 24px;
    border: 3px solid #ff000059;
    position: absolute;
    margin-top: 3px;
}


.remove-mapping-text {
    font-size: 15px;
    font-weight: bolder;
    /* margin-bottom: -20px; */
    position: relative;
    left: -1px;
    bottom: 2px;
    color: #ff000085;
}
