<div class="container d-flex align-items-center justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12">
        <app-change-email></app-change-email>
    </div><br>
</div>
<div class="container d-flex align-items-center justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12">
        <app-change-username></app-change-username>
    </div>
</div>

<div class="container d-flex align-items-center justify-content-center">
    <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12">
        <app-change-password></app-change-password>
    </div>
</div>
