#modal-error {
    color:#34495E;
}


span{
    font-family: Roboto;
    font-style: italic; 
    text-align: justify;
    color: #17202A ;
    font-weight: bold;
}


#modal-title{
    font-family: Roboto;
}