<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="feature-title">
        <h6>{{ isAmend ? "Edit Employee" : "Set Employee" }}</h6>
        <hr class="under-header" />
      </div>

      <div class="row">
        <p-tabView>
          <p-tabPanel header="Basic Info" headerStyleClass="hellos">
            <p class="tabview-paragraph">
              <app-basic-info></app-basic-info>
            </p>
          </p-tabPanel>
          <p-tabPanel header="Job Details">
            <p class="tabview-paragraph">
              
              <app-job-details></app-job-details>
            </p>
          </p-tabPanel>
          <p-tabPanel header="User Info">
            <p class="tabview-paragraph">
              <app-user-info></app-user-info>
            </p>
          </p-tabPanel>
          <p-tabPanel header="User Role">
            <p class="tabview-paragraph">
              <app-user-role></app-user-role>
            </p>
          </p-tabPanel>
          <p-tabPanel header="Contact Info">
            <p class="tabview-paragraph">
              <app-contact-info></app-contact-info>
            </p>
          </p-tabPanel>
          <p-tabPanel header="Document">
            <p class="tabview-paragraph">
              <app-user-document></app-user-document>
            </p>
          </p-tabPanel>
          <p-tabPanel header="Others">
            <p class="tabview-paragraph">
              <app-other></app-other>
            </p>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
<app-default-toast></app-default-toast>
