<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="feature-title">
        <h6>{{ isAmend ? "Edit Employee" : "Set Employee" }}</h6>
        <hr class="under-header" />
      </div>

      <div class="utility-box">
        <app-reset class="utility" (click)="reset()"></app-reset>
        <app-validation-reset
          class="utility"
          (click)="validationReset()"
        ></app-validation-reset>
        <app-content-help class="utility"></app-content-help>
        <app-back class="utility" [url]="'settings/company'"></app-back>
      </div>
      <hr class="custom-hr" />

      <div class="row">
        <p-tabView>
          <p-tabPanel header="Basic Info" headerStyleClass="hellos">
            <p class="tabview-paragraph">
              <app-basic-info></app-basic-info>
            </p>
          </p-tabPanel>
          <p-tabPanel header="Job Details">
            <p class="tabview-paragraph">
              <app-job-details></app-job-details>
            </p>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
<app-default-toast></app-default-toast>
