


<div 
    class="bg-light min-vh-100 d-flex flex-row align-items-center"
>
    <c-container style="background-color: bg-light;margin-bottom:250px">
        <c-row class="justify-content-center">
            <c-col
                xl="5"
                lg="6"
                md="12"
                sm="12"
                xs="12"
                class="mb-1"
            >
                <c-card-group>
                    <c-card class="p-4">
                        <c-card-body>
                            <form
                                #forgotPasswordForm="ngForm"
                                cForm
                                autocomplete="off"                              
                                ngNativeValidate
                                (ngSubmit)="forgotPassword()"
                            >
                                <h3>Forgot Password ?</h3>
                                <p class="text-medium-emphasis">Enter Your Email</p>
                                <c-input-group class="mb-3">
                                    <span cInputGroupText>
                                        <svg
                                            cIcon
                                            name="cil-envelope-closed"
                                           
                                        ></svg>
                                    </span>
                                    <input
                                        class="form-control form-control-sm"
                                        type="text"
                                        placeholder="Email"
                                        name="Email"
                                        [(ngModel)]="model.Email"
                                    >
                                </c-input-group>
                                <c-row class="mt-2">
                                    <c-col
                                        xl="6"
                                        lg="12"
                                        md="12"
                                        sm="12"
                                        xs="12"
                                        class="mb-1"
                                    >
                                        <button
                                            cButton
                                            class="btn-block"
                                            color="primary"
                                            type="submit"
                                        >
                                            Submit
                                        </button>
                                    </c-col>                  
                                </c-row>
                            </form>
                        </c-card-body>
                    </c-card>
                </c-card-group>
            </c-col>
        </c-row>   
    </c-container>
</div>


