<p-dropdown
  [options]="branches"
  [(ngModel)]="selectedBranch"
  optionLabel="branchName"
  [showClear]="showClear"
  [emptyMessage]="emptyMessage"
  placeholder = "Select branch"
  [autoDisplayFirst]="false"
  [filter]="true"
  (onShow)="onShow()"
  
>
  <ng-template pTemplate="selectedItem">
    <div *ngIf="selectedBranch">
      <div class="dropdown-selected-item">{{ selectedBranch.branchName }}</div>
    </div>
  </ng-template>
  <ng-template let-companies pTemplate="item">
    <div class="dropdown-text">
      <div id="branch-dropdown">{{ companies.branchName }}</div>
    </div>
  </ng-template>
</p-dropdown>

